*{
margin:0;
padding:0;
box-sizing:border-box;
scroll-behavior:smooth;
}

body{
font-family: Arial, sans-serif;
color:#333;
min-height:100vh;


background: linear-gradient(-45deg, #5fd3f3, #54a3d8, #357aa1, #1f6f85);
background-size: 400% 400%;
animation: gradientMove 12s ease infinite;

position: relative;
overflow-x: hidden;
}


@keyframes gradientMove{
0%{background-position:0% 50%;}
50%{background-position:100% 50%;}
100%{background-position:0% 50%;}
}

body::before,
body::after{
content:"";
position:fixed;
width:300px;
height:300px;
border-radius:50%;
background:rgba(255,255,255,0.2);
filter:blur(100px);
z-index:-1;
animation: float 10s infinite alternate ease-in-out;
}

body::before{
top:-50px;
left:-50px;
}

body::after{
bottom:-50px;
right:-50px;
animation-delay:4s;
}

@keyframes float{
from{transform:translateY(0px);}
to{transform:translateY(40px);}
}

header{
background:#357aa1;
color:white;
text-align:center;
padding:30px;
}

header h1{
font-size:40px;
}

header p{
font-size:18px;
margin-top:5px;
}


nav{
background:#54a3d8;
padding:10px;
}

nav ul{
list-style:none;
text-align:center;
}

nav ul li{
display:inline-block;
margin:0 15px;
}

nav ul li a{
color:white;
text-decoration:none;
font-weight:bold;
transition:0.3s;
}

nav ul li a:hover{
color:#ffd700;
}


section{
padding:50px;
text-align:center;
}

section h2{
margin-bottom:20px;
font-size:28px;
}



.project-container{
display:flex;
justify-content:center;
flex-wrap:wrap;
gap:20px;
}

.project{
background:#2b8da5;
padding:25px;
width:250px;
border-radius:10px;
box-shadow:0 5px 15px rgba(0,0,0,0.2);
color:white;
transition:0.3s;
}

.project:hover{
transform:scale(1.05);
background:#1f6f85;
}



#contact p{
font-size:18px;
margin:5px;
}



footer{
background:#357aa1;
color:white;
text-align:center;
padding:15px;
margin-top:30px;
}



@media(max-width:768px){

.project-container{
flex-direction:column;
align-items:center;
}

}
